<ion-view title="New device">	
	<ion-content>
		<ion-list>
			<ion-item class="item-divider">
				Device name
			</ion-item>
			<ion-item class="item-input">
				<input type="text" ng-model="addDevice.title" placeholder="Device Name">
			</ion-item>
			<ion-item class="item-divider">
				Enter home code: {{ getHomeCode() }}
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><ion-toggle ng-model="addDevice.homeCode[0]" >1</ion-toggle></div>	
					<div class="col"><ion-toggle ng-model="addDevice.homeCode[1]" >2</ion-toggle></div>	
				</div>
				<div class="row">
					<div class="col"><ion-toggle ng-model="addDevice.homeCode[2]" >3</ion-toggle></div>	
					<div class="col"><ion-toggle ng-model="addDevice.homeCode[3]" >4</ion-toggle></div>	
					
				</div>
				<div class="row">
					<div class="col"><ion-toggle ng-model="addDevice.homeCode[4]">5</ion-toggle></div>	
					<div class="col"></div>
				</div>
			</ion-item>
			<ion-item class="item-input item-select">
				<div class="input-label">
					Choose device ID
				</div>
				
				<select ng-model="addDevice.deviceNumber">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</ion-item>

			<ion-item>
				<button  type="button" ng-click="addDeviceConfirm()" class="button button-positive button-full"> Add</button>
			</ion-item>
	</ion-content>
</ion-view>